@import "tailwindcss";

:root {
  --font: #1a1a1a;
  --light: #eaeaea;
  --base: #d9d9d9;
  --accent-normal: #2383e2;
  --accent-warn: #f15550;
  --accent-sub: #ebf5fe;
  --footer: #1c2a3a;
}

* {
  font-family: var(--font-noto-sans-jp);
}

body {
  background-color: var(--base);
}

header {
  background-color: var(--light);
}
